.tableHeader {
    border-bottom: 1px solid #C0C0C0;
    font-size: 16pt;
    height: 30px;
}

.table{
    width:90%;
    padding: 5%;
}

.catHeading{
    
}

.row1{
    display:;
}

.row2{
    display:inline;
}

.row3{
    display:inline;
}

.row4{
    display:inline;
}

.row5{
    display:inline;
}

.row6{
    display:inline;
}

.row7{
    display:inline;
}
